.gallery {
   width: 500px;
   margin: 0 auto;
   text-align: center;
   /* border: 5px solid red; */
  
 }
 
 .gallery .photos {
   position: relative;
   height: 525px;
   /* border: 6px solid green; */

 }
 
 .gallery .photos img {
   width: 490px;
   height: 490px;
   position: absolute;
   left: 0;
   opacity: 0;
   transition: opacity 1s;

 }
 
 .gallery .photos img.showed {
   opacity: 1;

 } 